
html{
    cursor: default;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

::placeholder{
    color: black;
    opacity: 0.5;
}

header {
    z-index: 2;
    background-color: #202020;
    color: white;
    padding: 0.5em;
    text-align: center;
    position: relative;
    width: 100%;
    top: 0;
}

footer {
    z-index: 2;
    background-color: #202020;
    color: white;
    font-size: smaller;
    padding: 1em;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

body {
    z-index: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    text-align: center;
    background-color: #203040;
}

div{
    margin: auto;
    display: flex;
    overflow: auto;
    text-align: center;
}

.menu{
    z-index: 1;
    left: 0;
    background-color: #252525;
    position: absolute;
    height: 100%;
    text-align: center;
    padding: 0;
    min-width: 5%;
    transition: min-width 0.5s;
}
.menu:hover{
    min-width: 20%;
}

a{
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}
a:hover{
    color: rgb(150, 150, 150);
}

.container{
    position: relative;
    text-align: center;
    margin-top: 48px;
    padding: 16px;
    width: 80%;
    background-color: #ccc;
    border-radius: 12px;
}

h2{
    padding-left: 2em;
}

.content{
    width: max-content;
    overflow: auto;
    display: inline-flex;
    flex-wrap: wrap;
}

button{
    width: 48px;
    height: 48px;
    margin: 12px;
    background-color: #252525;
    border-radius: 24%;
    border-color: transparent;
    cursor: pointer;
    box-shadow: 4px 4px 4px#20202050;
    transition: 0.5s;
    background-position: center;
    background-size: 50px;
}
button:hover{
    transform: translate3d(-0.2em);
}



.fa-linkedin{
    background-image: url("./icons/LinkedIn.png");
}

.fa-threads{
    background-image: url("./icons/Threads.jpg");
}

.fa-instagram{
    background-image: url("./icons/Instagram.jpg");   
}

.fa-twitter{
    background-image: url("./icons/Twitter.jpg");    
}

.fa-spoutible{
    background-image: url("./icons/Spoutible.jpg");    
}

.fa-youtube{
    background-image: url("./icons/Youtube.png");    
}

.fa-github{
    background-image: url("./icons/Github");
}
