
html{
    cursor: default;
    overflow: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #81BEF7;
}

header {
    text-align: center;
    padding: 1em;
    background-color: #252525;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #252525;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

div{
    border: 24px;
    width: 80%;
    margin: 2em auto;
    padding: 2em;
    background-color: white;
    border-radius: 12px;
}

h1 {
    width: 80%;
    color: white;
    text-align: left;
    padding-left: 32px;
}

h2 {
    color: black;
    text-align: center;
}

p {
    line-height: 1.6;
    color: white;
}

td{
    text-align: center;
}

th{
    padding: 8px;
}

.th-right{
    text-align: right;
}
.th-left{
    text-align: left;
}

a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    color: white;    
}

a:active{
    color: lightgray;    
}

.linkext{
    color: white;
    transition: color 0.5s;
    text-decoration: none;
}

.linkext:hover{
    color: lightgrey;
}

.linkext:active{
    color: lightgrey;
}


.buttonT1{
    cursor: pointer;
    background-color: darkblue;
    border-color: darkblue;
    border-radius: 8px;
    padding: 12px;
    vertical-align: top;
    box-shadow: 6px 4px 4px rgba(0,0,0,0.2);
    transition: opacity 0.5s;
    transition: box-shadow 0.1s;
}

.buttonT1:hover {
    opacity: 0.7;
    box-shadow: 6px 4px 4px rgba(0,0,0,0.13);
}

.buttonT1:active {
    opacity: 0.5;
    box-shadow: 3px 2px 2px rgba(0,0,0,0.1);
}

.buttonT2{
    cursor: pointer;
    background-color: orange;
    border-color: orange;
    border-radius: 4px;
    padding: 8px;
    vertical-align: top;
    transition: background-color 0.5s;
    transition: color 0.5s;
}

.buttonT2:hover {
    background-color: white;
    color: orange;
}

.buttonT2:active {
    color: orange;
}

button{
    border-radius: 30%;
    width: 48px;
    height: 48px;
    background-color: #252525;
    border: black;
    border: 2px;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.fa-linkedin{
    background-image: url("./icons/LinkedIn.png");
    background-size: 48px;
}

.fa-threads{
    background-image: url("./icons/Threads.jpg");
    background-size: 48px;
}

.fa-instagram{
    background-image: url("./icons/Instagram.jpg");   
    background-size: 48px;
}

.fa-twitter{
    background-image: url("./icons/Twitter.jpg");    
    background-size: 48px;

}

.fa-spoutible{
    background-image: url("./icons/Spoutible.jpg");    
    background-size: 48px;
}

.fa-youtube{
    background-image: url("./icons/Youtube.png");    
    background-size: 48px;
}

.cookie{
    border-radius: 12px;
    width: 92px;
    height: 48px;
    border: 2px;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}

#cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30%;
    background-color: #252525;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: none;
    border: 12px;
    border-color: #505050;
    border-radius: 5%;
}

#cookie-banner button {
    background-color: #81BEF7;
    color: black;
    cursor: pointer;
}