
html, body {
    width: 100%;
    height: 100%;
}

html{
    cursor: default;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-20deg, #000033, #000044, #000055,#000066, #000055, #000044,);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header{
    background-color: #222;
    display: block;
    width: 100%;
    height: 10%;
    position: relative;
    top: 0;
    left: 0;
}

footer{
    background-color: #222;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    font-size: small;
}

div{
    text-align: center;
    margin: auto;
    overflow-y: scroll;
}

.main{
    margin: 0 0 12% 0;
}

.content{
    border-radius: 24px;
    background-color: #444;
    padding: 12px;
    margin-top: 24px;
    width: 80%;
}

.box{
    text-align: left;
    padding: 12px;
    display: inline-block;
}

p{
    text-align: left;
    text-align: justify;
    padding: 0 2em 0 2em;
}

dl,dt,dd{
    text-align: left;
    padding: 6px 12px 6px 12px;
}


a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
a:hover{
    color: grey;
}

h1{
    padding: 4px 36px 4px 36px;
}

h2{
    padding: 0px 24px 0px 24px;
}

h3,h4{
    text-align: left;
    padding: 0px 24px 0px 24px;
}

.darkModeButton{
    text-align: right;
    padding: 0 12px 0 12px;
}

img{
    float: right;
    padding: 0 0 1em 2em;
    width: 40%;
}

.icon{
    height: 48px;
    width: 48px;
    border-radius: 30%;
    box-shadow: 0 0 8px 4px #20202080;
    object-fit: fill;
    overflow: hidden;
    padding: 0;
    transition: 0.5s;
}

.icon:hover{
    box-shadow: 0 0 12px 4px #202020;
}