/* styles.css */
*{
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Calibri', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 16px;
    box-sizing: border-box;
    background: linear-gradient(-20deg, #333, #444, #555, #444);
    background-size: 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    500%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0% 50%;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 2560px) {
    html, body {
        font-size: 18px;
    }
    footer {
        font-size: 1.125rem;
    }
}

@media (min-width: 3840px) {
    html, body {
        font-size: 20px;
    }
    footer {
        font-size: 1.25rem;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header, footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1em 0;
    animation: fadeIn 0.2s ease-in-out;
}

footer {
    font-size: 1rem;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

aside.sidebar {
    z-index: 1;
    width: 64px;
    background-color: rgba(51, 51, 51, 0.8);
    position: fixed;
    height: 100%;
    transition: width 0.2s, background-color 0.2s;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

aside.sidebar:hover {
    width: 196px;
    background-color: rgba(51, 51, 51, 1);
}

.menu-icon {
    margin: 10px 0;
    font-size: 24px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    width: 100%;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

nav ul li a:hover {
    background-color: #575757;
}


div{
    text-align: center;
    margin: auto;
    height: auto;
    color: white;
}

.content {
    border-radius: 24px;
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 20px;
    border: 2px solid #555;
    width: 80%;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box{
    text-align: left;
    padding: 12px;
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
a:hover{
    color: grey;
}

h1{
    padding: 4px 36px 4px 36px;
}

h2{
    padding: 0px 24px 0px 24px;
}

h3,h4{
    text-align: left;
    padding: 0px 24px 0px 24px;
}

.icon{
    height: 48px;
    width: 48px;
    border-radius: 30%;
    box-shadow: 0 0 8px 4px #20202080;
    object-fit: fill;
    overflow: hidden;
    padding: 4;
    transition: 0.5s;
}

.icon:hover{
    box-shadow: 0 0 12px 4px #000000;
}