/* Reset browser defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body::-webkit-scrollbar {
  display: none;
}
  
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Main */

body {
  font-family: Arial, sans-serif;
  line-height: 1.4;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.2s ease, color 0.2s ease;
  display: flex;
  height: 100vh;
  overflow-y: scroll;
}

.content {
  overflow-y: auto; /* Scrollen nur für den Inhalt aktivieren */
  height: 100vh; /* Falls nötig, begrenze die Höhe */
}

:root {
  --bg-color: #2c2c2c;
  --content-bg: #3e3e3e;
  --primary-color: #10a090;
  --accent-color: #ffa500;
  --text-color: #ffffff;
}
  
.light-mode {
  --bg-color: #ebebeb;
  --content-bg: #cfcfcf;
  --primary-color: #ffa500;
  --accent-color: #10a090;
  --text-color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}

a:hover {
  color: #2c2c2c;
}

.collapsible {
  cursor: pointer;
  user-select: none;
}

/* Fade overlay */
#fade-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;
}

#fade-overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Sidebar */
#sidebar {
  position: fixed; /* Fix the sidebar position */
  top: 0; /* Align it to the top of the viewport */
  left: 0; /* Stick to the left side */
  height: 100%; /* Extend it to cover the full height of the viewport */
  width: 200px; /* Keep the specified width */
  background: var(--primary-color);
  transition: background-color 0.2s ease, color 0.2s ease;
  padding: 10px;
  overflow-y: auto; /* Enable scrolling if content overflows */
  z-index: 1000; /* Ensure it's above other content */
}
  
#sidebar ul {
  list-style: none;
}
  
#sidebar li {
  margin: 20px 0;
}
  
#sidebar a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}
  
/* Header */
header {
  position: fixed; /* Fix the header position */
  top: 0; /* Align it to the top of the viewport */
  left: 200px; /* Account for the sidebar width */
  right: 0; /* Stretch it to the right */
  height: 60px; /* Fixed height for the header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--content-bg);
  transition: background-color 0.2s ease, color 0.2s ease;
  padding: 10px 20px;
  border-bottom: 2px solid var(--primary-color);
  z-index: 1000; /* Ensure it appears above other content */
}
  
#header-right {
  display: flex;
  align-items: center;
}
  
#datetime {
  margin-right: 20px;
}
  
/* Theme Switch - Toggle */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-color);
  transition: 0.2s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2.5px;
  background-color: var(--text-color);
  transition: 0.2s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--accent-color);
}

input:checked + .slider:before {
  transform: translateX(25px);
}
  
/* Content */
#content {
  margin-left: 200px; /* Account for the fixed sidebar width */
  margin-top: 60px; /* Account for the fixed header height */
  flex: 1;
  display: flex;
  flex-direction: column;
}  
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content-box {
  background: var(--content-bg);
  transition: background-color 0.2s ease, color 0.2s ease;
  border: 2px solid var(--primary-color);
  padding: 20px;
  width: 70%;
  border-radius: 10px;
}

.content-box h2 {
  margin-bottom: 20px;
}

.content-box .text {
  text-align: justify;
}
  
.content-layout {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
  
.content-layout .text {
  width: auto;
  margin-right: 20px;
}
  
.content-layout .image img {
  max-width: 100%;
  border: 2px solid var(--accent-color);
}

.icon{
  height: 48px;
  width: 48px;
  border-radius: 12px;
  box-shadow: 0 0 8px 4px #20202080;
  object-fit: fill;
  overflow: hidden;
  margin: 2px 2px 2px 2px;
  transition: 0.5s;
}

.icon:hover{
  box-shadow: 0 0 12px 4px #000000;
  height: 52px;
  width: 52px;
  margin: 0px 0px 0px 0px;
}

.imgLink{
  width: 400px;
  vertical-align: middle;
  border-radius: 16px;
  box-shadow: 0 0 12px 4px #20202080;
  transition: 0.5s;
}
.imgLink:hover{
  box-shadow: 0 0 16px 4px #000000;
}

/* General list styles */
ul, ol {
  margin: 20px 0; /* Add spacing above and below lists */
  padding-left: 20px; /* Indent the list for readability */
  list-style-position: outside; /* Ensure bullets/numbers align outside the text */
  font-size: 16px; /* Adjust text size for readability */
  line-height: 1.4;
}

ul {
  list-style-type: disc;
}

ul li {
  margin-bottom: 10px;
}

ol {
  list-style-type: decimal;
}

ol li {
  margin-bottom: 10px;
}

ul li::marker {
  color: var(--primary-color);
  font-size: 18px;
}

ol li::marker {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: bold;
}

h4, p b {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px; 
}

pre {
  display: block;
  overflow-x: auto;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
  max-width: 100%;
}


#privacy-notice {
  position: fixed;
  bottom: 20px;
  left: 58%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0);
  color: white;
  padding: 15px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s ease;
}

/* Footer */
footer {
  text-align: center;
  background: var(--content-bg);
  transition: background-color 0.2s ease, color 0.2s ease;
  padding: 10px;
  position: sticky;
  bottom: 0;
  width: 100%;
}
  
/* Responsive Design */
@media (max-width: 768px) {
  .content-layout {
    flex-direction: column;
  }
  
  .content-layout .text,
  .content-layout .image {
    width: 100%;
  }
}

/*

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}

*/