
html{
    cursor: default;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#203040;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

footer{
    color: white;
    background-color: #222;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    font-size: small;
}


div{
    text-align: center;
    margin: auto;
    overflow-y: scroll;
    color: white;
}

.main{
    margin: 0 0 12% 0;
}

.content{
    border-radius: 24px;
    background-color: #444;
    padding: 12px;
    margin-top: 24px;
    width: 80%;
}

.box{
    text-align: left;
    padding: 12px;
    display: inline-block;
}

p{
    text-align: left;
    text-align: justify;
    padding: 0 2em 0 2em;
}

dl,dt,dd{
    text-align: left;
    padding: 6px 12px 6px 12px;
}


a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
a:hover{
    color: grey;
}

h1{
    padding: 4px 36px 4px 36px;
}

h2{
    padding: 0px 24px 0px 24px;
}

h3,h4{
    text-align: left;
    padding: 0px 24px 0px 24px;
}

tr, th, td{
    text-align: left;
}